@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

body,html{
   display: grid;
   width: 100%;
   height: 100%;
   place-items: center;
   background: linear-gradient(375deg, #1cc7d0, #2ede98);
}

.wrapper{
    width: 320px;
    height: 400px;
   position: relative;
  transform-style: preserve-3d;
  padding: 5px;
  transition: 0.7s cubic-bezier(0.4,0.2,0.2,1);
  perspective: 1000px;
}

.wrapper:hover > .front{
transform: rotateY(-180deg);
}

.wrapper .card{
   width: 100%;
    height: 100%;
    position: absolute;
     background: #fff;
     border-radius: 10px;
     padding: 5px;
     transform: translateY(0deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  transition: transform 0.7s cubic-bezier(0.4,0.2,0.2,1);
}


.wrapper .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
border-radius: 10px;
}

.wrapper  .back img{
width: 150px;
height: 150px;
border-radius: 50%;
padding: 5px;
background: linear-gradient(375deg, #1cc7d0, #2ede98);
}

.wrapper  .back {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   transform: rotateY(180deg);
    }

    .wrapper:hover > .back{
        transform: rotateY(0deg);
      }

    .wrapper .back .info{
        text-align: center;

    }

    .wrapper .info p{
        font-weight: 500;
        font-family: sans-serif;
    }

    .wrapper .back .title{
        font-size: 30px;
        font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
    }

    .back ul{
        display: flex;
    }

    .back ul .fa-brands{
        font-size: 2rem;
        border: 2px solid transparent;
       color: #fff;
        padding: 10px;
        margin: 10px;
        cursor: pointer;
        border-radius: 50%;
        background: linear-gradient(375deg, #1cc7d0, #2ede98);
    }

    
    .back ul .fa-brands:hover{
       background: none;
       border-color: #1cc7d0;
       color: #1cc7d0;
    }

    